version: "3.8"

services:

  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: userdb
      MYSQL_USER: appuser
      MYSQL_PASSWORD: apppassword
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - ticket-network

  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.0
    container_name: zookeeper
    restart: always
    environment:
      ALLOW_ANONYMOUS_LOGIN: "yes"
    ports:
      - "2181:2181"
    networks:
      - ticket-network

  kafka:
    image: confluentinc/cp-kafka:7.6.0
    container_name: kafka
    restart: always
    depends_on:
      - zookeeper
    environment:
      KAFKA_CFG_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_CFG_LISTENERS: PLAINTEXT://:9092
      KAFKA_CFG_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      ALLOW_PLAINTEXT_LISTENER: "yes"
    ports:
      - "9092:9092"
    networks:
      - ticket-network

  booking-service:
    build:
      context: ../../booking-service
    container_name: booking-service
    depends_on:
      - mysql
      - kafka
    environment:
      DB_HOST: mysql
      DB_USERNAME: appuser
      DB_PASSWORD: apppassword
      JWT_SECRET: bookingServiceJwtSecretKey_32CharsMinimum_2026
      JWT_EXPIRATION: 3600000
      KAFKA_SERVERS: kafka:9092
      SERVER_PORT: 8083
    ports:
      - "8083:8083"
    networks:
      - ticket-network

volumes:
  mysql_data:

networks:
  ticket-network:
    driver: bridge
